/* #region Defaults */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
}

header, footer {
    background-color: #1F2937;
}

header, .body, .quote, footer {
    padding: 16px 200px 100px 200px;
}

/* #endregion */

/* #region Header*/
header {
    display: flex;
    flex-direction: column;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-main {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 84px;
}

.header-main section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 2;
}

.header-main h1, .header-main p {
    color: #F9FAF8;
}

.header-main h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header-main button {
    align-self: flex-start;
}

.header-main picture {
    flex: 1;
    text-align: center;
    background-color: #858588;
    padding: 100px 150px;
    color: #F9FAF8;
}
/* #endregion */

/* #region Body */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 24px;
    margin-bottom: 48px;
}

.body-containers {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.body-container figure {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.body-container figcaption {
    width: 150px;
    color: #1F2937;
}
/* #endregion */

/* #region Quote */
.quote {
    background-color: #E5E7EB;
    padding: 0 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

blockquote {
    line-height: 1.25;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align: end;
    font-size: 24px;
    font-weight: bolder;
    font-style: normal;
    color: #1F2937;
}
/* #endregion */

/* #region CTA */
.cta {
    padding: 16px 200px 0 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-container {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    border-radius: 8px;
}

.cta-info {
    margin: 0;
    padding: 0;
}

.cta-info h1, .cta-info p {
    color: #E5E7EB;
}

.cta-info h1 {
    font-size: 24px;
}

.cta-info p {
    text-align: left;
    font-size: 16px;
}

.cta-container button {
    border: 2px solid white;
}
/* #endregion */

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}