* {
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer {
    background-color: #1F2937;
}

.body {

}

.quote {
    background-color: #E5E7EB;
}

.cta .container{
    background-color: #3882F6;
}

.footer {

}